/* 
    Austin McCowan
    05/03/2021
    css for about page
*/

html, body {
    background-color: white;
}

#about-main {
    width: 100%;
    clear: both;
    display: block;
    background-color: rgb(81, 54, 155);
}

#about-main {
    margin: auto;
}

#about-pic {
    width: 40%;
}

#about-pic img {
    width: 75%;
    height: auto;
    margin: 15px auto;
    display: block;
}

#about-desc {
    width: 60%;
    color: white;
}

#about-desc p {
    margin: 5px;
    padding: 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}