/* 
    Austin McCowan
    05/03/2021
    flex layouts for the about.html iframe
*/

/* ===== IMPORT ==== */

@import url('about.css') screen;

/* ---- Main section ---- */

#about-main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-content: center;
}

/* 
   =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/

@media only screen and (max-width: 480px) {
    
}

/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/

@media only screen and (min-width: 481px) {

}