/* 
    Austin McCowan
    04/13/2021
    css for index.html
*/

/* ---- Header ---- */
#div-header {
    background-color: rgb(35, 1, 73);
    color: white;
    width: 100%;
    margin: 0;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#div-header h1 {
    color: white;
}

#div-header nav {
    margin: auto;
    margin-bottom: 0;
}

.btn-currentpage {
    background-color: white;
}

.btn-page {
    background-color: grey;
}

/* ---- Iframe ---- */
iframe {
    width: 80%;
    height: 100%;
    margin: auto;
}

#div-iframe {
    width: 100%;
    margin: auto;
    height: 100%;
    
}

/* ---- Footer ---- */